<mat-card class="forum-card">
  <!-- Card Content -->
  <mat-card-content>
    <div class="forum-card-header">
      <span 
        class="forum-tag" 
        [ngStyle]="{ 'background-color': topicColor }">
        {{ topicName }}
      </span>
      <span class="forum-date">{{ formattedDate }}</span>
    </div>
    
    <mat-card-title class="forum-title">{{ question.title }}</mat-card-title>
    <mat-card-subtitle class="forum-content" [innerHTML]="question.content"></mat-card-subtitle>
    <ul class="file-list" *ngIf="question.attachments.length > 0 && !showReadMore">
      <li *ngFor="let file of question.attachments">
        <ng-container *ngIf="isImage(file.name); else otherFile">
          <a [href]="file.url" target="_blank" rel="noopener">
            <img [src]="file.url" alt="{{ file.name }}" class="preview-image" />
          </a>
        </ng-container>
    
        <ng-template #otherFile>
          <a [href]="file.url" class="file-entry" target="_blank" rel="noopener">
            <mat-icon class="file-icon">insert_drive_file</mat-icon>
            {{ file.name }}
          </a>
        </ng-template>
      </li>
    </ul>
    
    
    
  </mat-card-content>

  <!-- Card Actions -->
  <mat-card-actions>
    <div class="forum-card-footer">
      <div class="forum-author">
        <div class="forum-author-details">
          <p class="forum-author-name">{{ question.name }} {{ question.surname }}</p>
          <p class="forum-author-role">{{ question.occupationName }}</p>
        </div>
      </div>    
      <button *ngIf="showReadMore" mat-raised-button color="primary" class="read-more-btn" [routerLink]="['/forum/details', question.id]"> 
        Read more →
      </button>
    </div>
  </mat-card-actions>
</mat-card>
