.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .faculty-container {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    text-align: center;
  }
  