.chat-list {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;

  &.even {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
}

.chat-app {
  height: 100%;
  margin: 0 !important;

  .mat-drawer-container{
    height: 100%;
  }
  .mat-drawer-content{
    ng-scrollbar{
          height: calc(100% - 180px) !important;
    }
  }
  .mat-drawer {
    width: 320px;
  }
  .ng-scroll-content {
    display: block !important;
  }
}

.chat-listing {
  .mdc-list-item {
    height: 75px;
    display: flex;
    align-items: center;

    .mdc-list-item__primary-text {
      margin-bottom: -23px !important;
    }
  }
}

.hellochat
{
  color: red;
}

.profile-info-chat
{
  .f-w-600 {
    font-weight: 600 !important;
    margin: 0;
  }
}
