<div class="topics-wrapper">
    <div class="topics-card">
      <h3>My Topics</h3>
  
      <div *ngIf="topics.length === 0" class="empty-state">
        <p>No topics added yet. Click "+" to add a new topic.</p>
      </div>
  
      <div class="topics-list">
        <div class="topic-card"
             *ngFor="let topic of topics"
             [ngStyle]="{'background-color': getTopicColor(topic)}">
          {{ getTopicName(topic) }}
        </div>
  
        <div class="topic-card add-topic" (click)="openAddTopicDialog()">+</div>
      </div>
    </div>
  </div>
  