<a [routerLink]="['/forum/details', question.id]" (click)="closeModal()" class="clickable-card">
  <mat-card class="forum-card-related">
      <!-- Card Content -->
      <mat-card-content>
        <div class="forum-card-header">
          <span 
            class="forum-tag" 
            [ngStyle]="{ 'background-color': topicColor }">
            {{ topicName }}
          </span>
        </div>
        
        <mat-card-title class="forum-title">{{ question.title }}</mat-card-title>
    
        <div *ngIf="isAnswerCountVisible" class="forum-footer">
          <span class="answers-count">
            <mat-icon>question_answer</mat-icon> {{ question.answersCount }} Answers
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </a>