.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .search-card {
    width: 60%;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .student-card {
    margin-top: 20px;
    width: 50%;
    padding: 20px;
  }
  