<div class="container">
  <app-breadcrumbs></app-breadcrumbs>
  
    <app-forum-card *ngIf="questionAsResponse" [question]="questionAsResponse" [showReadMore]="false"></app-forum-card>

  <!-- Secțiunea de răspunsuri -->
  <div class="answers-container">
    <h3 class="section-title">Răspunsuri</h3>

    <!-- Lista răspunsurilor -->
    <mat-card class="answer-card" *ngFor="let answer of questionDetails?.answers">
      <mat-card-content>
        <div class="answer-header">
          <strong>{{ answer.name }} {{ answer.surname }}</strong>
          <span class="occupation">{{ answer.occupationName }}</span>
        </div>
        <p class="answer-content" [innerHTML]="answer.content"> </p>
      </mat-card-content>
    </mat-card>
    
    <!-- Linie de separare între răspunsuri -->
    <div class="answer-divider" *ngIf="(questionDetails?.answers?.length ?? 0) > 1"></div>

  </div>
  <div class="empty-view" *ngIf="!isLoading && (!questionDetails?.answers || questionDetails?.answers?.length === 0)">
    <img src="assets/images/logos/logo-empty-state.svg" alt="Empty Icon" class="empty-image"/>
    <p class="empty-text">Be the first to answer the question</p>
  </div>

  <!-- Formular pentru adăugarea unui răspuns -->
  <!-- <div *ngIf="!isLoading"> 
    <mat-card class="response-form">
      <mat-card-content>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Add answer</mat-label>
          <textarea matInput [(ngModel)]="newAnswer"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitAnswer()">Trimite răspuns</button>
      </mat-card-content>
    </mat-card>
  </div> -->

  <div *ngIf="!isLoading">
    <mat-card class="response-form">
      <mat-card-content>
        <div class="quill-form-field">
          <label class="mat-body-1"><strong>Answer:</strong></label>
          <div class="quill-editor-wrapper">
            <quill-editor
              [(ngModel)]="newAnswer"
              [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  ['link', 'code-block'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              }"
              placeholder="Add your answer here..."
              theme="snow"
            ></quill-editor>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="submitAnswer()">Add answer</button>
      </mat-card-content>
    </mat-card>
  </div>
  

  <!-- Loader -->
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

</div>