.cardWithShadow {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 450px; /* Se aliniază cu Steps Achieved */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .rounded-circle {
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  
  .vertical-line {
    width: 2px;
    height: 100px;
    background: #ccc;
    margin: auto;
  }
  
  .user-info p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
  }
  
  /* Asigurăm că ambele carduri au aceeași dimensiune */
  .equal-height {
    display: flex;
    align-items: stretch;
  }
  
  .equal-height > div {
    flex: 1;
  }
  