/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
    cursor: pointer;
  }

  .mat-snack-bar-container.snackbar-success {
    background-color: #4caf50 !important;
    color: white !important;
  }
  
  
  
  .snackbar-error {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  .avatar-img {
    object-fit: cover;
  }