.forum-cards-container {
    display: flex; /* Use Flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping for multiple rows */
    gap: 16px; /* Space between cards */
    justify-content: center; /* Center cards horizontally */
    padding: 16px; /* Add padding around the container */
  }
  .dropdown-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  #topic-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 300px;
  }
  

  .search-container {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 48px;
  }
  
  .search-bar {
    flex: 1;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-button {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 20px;
  }
  
  
  