main{
    height: 100%;
    overflow: hidden;
    padding: 22px 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;

    .pages-container{
        height: 100%;
        overflow: auto;
    }
}

